<div style="width: 360px;" class="pages-margin-top mx-auto">
  <h2 class="text-center mb-4">ログイン</h2>

  <%= bootstrap_form_with(model: resource, url: session_path(resource_name), local: true) do |f| %>
  <%= f.email_field :email, autofocus: true %>
  <%= f.password_field :password %>
  <% if devise_mapping.rememberable? %>
  <div class="field">
    <%= f.check_box :remember_me %>
  </div>
  <% end %>

  <%= f.submit "ログイン", class: "btn btn-primary w-100" %>
  <% end %>

  <%= render "students/shared/links" %>
</div>
