<%= render 'partial/employee_mypage_layout' do %>
<h2 class="text-center mb-4">企業情報</h2>

<div class="my-3 w-100">
  <%= render "partial/slider", image_urls: @employee.company.image_urls %>
</div>

<table class="table">
  <tbody>
    <tr>
      <th><%= t 'activerecord.attributes.company.name' %></th>
      <td><%= @employee.company.name %></td>
    </tr>
    <tr>
      <th><%= t 'activerecord.attributes.company.company_url' %></th>
      <td><%= @employee.company.company_url %></td>
    </tr>
    <tr>
      <th><%= t 'activerecord.attributes.business_category.name' %></th>
      <td><%= @employee.company.business_category.name %></td>
    </tr>
    <tr>
      <th><%= t 'activerecord.attributes.company.address' %></th>
      <td><%= @employee.company.address %></td>
    </tr>
    <tr>
      <th><%= t 'activerecord.attributes.company.business_description' %></th>
      <td><%= @employee.company.business_description %></td>
    </tr>
    <tr>
      <th><%= t 'activerecord.attributes.company.number_of_employee' %></th>
      <td><%= @employee.company.number_of_employee %></td>
    </tr>
    <tr>
      <th><%= t 'activerecord.attributes.company.contact_name' %></th>
      <td><%= @employee.company.contact_name %></td>
    </tr>
    <tr>
      <th><%= t 'activerecord.attributes.company.contact_phone_number' %></th>
      <td><%= @employee.company.contact_phone_number %></td>
    </tr>
    <tr>
      <th><%= t 'activerecord.attributes.company.contact_email' %></th>
      <td><%= @employee.company.contact_email %></td>
    </tr>
  </tbody>
</table>

<h2 class="text-center mt-5 mb-4">ユーザー情報</h2>

<table class="table">
  <tbody>
    <tr>
      <th><%= t 'activerecord.attributes.employee.email' %></th>
      <td><%= @employee.email %></td>
    </tr>
    <tr>
      <th><%= t 'activerecord.attributes.employee_detail.name' %></th>
      <td><%= @employee.employee_detail.name %></td>
    </tr>
  </tbody>
</table>

<% end %>
