<div class="my-container-sm">
  <h2 class="text-center my-5">会員登録(企業向け)</h2>

  <ul class="nav nav-tabs nav-fill mb-4" id="userTypeTab" role="tablist">
    <li class="nav-item" role="presentation">
      <a class="nav-link <%= "active" if resource_name == :student %>" id="student-tab" type="button" role="tab"
        href="/students/sign_up">
        学生で登録
      </a>
    </li>
    <li class="nav-item" role="presentation">
      <a class="nav-link <%= "active" if resource_name == :employee %>" id="company-tab" type="button" role="tab"
        href="/employees/sign_up">
        企業で登録
      </a>
    </li>
  </ul>

  <%= bootstrap_form_with(model: @employee, url: employee_registration_path, local: true) do |f| %>

  <div class="mb-4 fw-bold">■ 企業情報</div>

  <%= f.fields_for :company, @company do |f_company| %>
  <%= f_company.text_field :name %>
  <%= f_company.collection_select :business_category_id, BusinessCategory.all, :id, :name, { include_blank: "選択してください" } %>
  <%= f_company.text_field :contact_name %>
  <%= f_company.telephone_field :contact_phone_number %>
  <%= f_company.email_field :contact_email %>
  <% end %>

  <div class="mt-5 mb-4 fw-bold">■ ユーザー情報</div>

  <%= f.email_field :email %>
  <%= f.password_field :password %>
  <%= f.password_field :password_confirmation, required: true %>

  <%= f.fields_for :employee_detail do |f_employee_detail| %>
  <%= f_employee_detail.text_field :name %>
  <% end %>

  <div class="mt-5 mb-2">
    <%= render "partial/terms_of_service_modal" %>
  </div>

  <%= f.check_box :agreement_terms, label: '利用規約に同意する' %>

  <%= f.submit "登録する", class: "btn btn-primary text-white w-100 my-5", "data-turbo": false %>
  <% end %>
</div>
