<div class="my-container-sm">
  <h2 class="text-center mb-4">新規登録(企業向け)</h2>

  <ul class="nav nav-tabs nav-fill mb-4" id="userTypeTab" role="tablist">
    <li class="nav-item" role="presentation">
      <a class="nav-link <%= "active" if resource_name == :student %>" id="student-tab" type="button" role="tab"
        href="/students/sign_up">
        学生で登録
      </a>
    </li>
    <li class="nav-item" role="presentation">
      <a class="nav-link <%= "active" if resource_name == :employee %>" id="company-tab" type="button" role="tab"
        href="/employees/sign_up">
        企業で登録
      </a>
    </li>
  </ul>

  <%= bootstrap_form_with(model: @employee, url: employee_registration_path, local: true) do |f| %>
  <%= f.email_field :email %>
  <%= f.password_field :password %>
  <%= f.password_field :password_confirmation %>

  <%= f.fields_for :company, @company do |f_company| %>
  <%= f_company.text_field :name %>
  <%= f_company.text_field :company_url %>
  <%= f_company.telephone_field :phone_number %>
  <%= f_company.collection_select :business_category_id, BusinessCategory.all, :id, :name, { include_blank: "選択してください" } %>
  <%= f_company.text_field :address %>
  <%= f_company.text_area :business_description %>
  <%= f_company.number_field :number_of_employee %>
  <%= f_company.text_field :manager_name %>
  <%= f_company.email_field :manager_email %>
  <%= f_company.file_field :video %>
  <% end %>

  <%= f.fields_for :employee_detail do |f_employee_detail| %>
  <%= f_employee_detail.text_field :name %>
  <% end %>

  <%= f.submit "登録", class: "btn btn-primary w-100" %>
  <% end %>
  <%= render "devise/shared/links" %>

</div>
