<main>
  <div class="card">
    <%= image_tag "top_sample2.jpg", class: "card-img-top img-fluid hero-img" %>
  </div>
  <div class="container mt-5">
    <section class="section">
      <h3 class="section-title mb-4 p-2">インターンシップ情報</h3>
      <%= render 'partial/internships', internships: @internships %>
      <%= link_to "全て見る", internships_path %>
    </section>

    <section class="section">
      <h3 class="section-title mb-4 p-2">講座一覧</h3>
      <%= render 'partial/courses', courses: @courses %>
      <%= link_to "全て見る", courses_path %>
    </section>

    <section class="section">
      <h3 class="section-title mb-4 p-2">お知らせ一覧</h3>
      <%= render 'partial/announcements', announcements: @announcements %>
      <%= link_to "全て見る", announcements_path %>
    </section>
  </div>
</main>
