<h3 class="my-5"><%= course.title %></h3>

<div class="my-3 w-100">
  <% if course.thumbnail.representable? %>
  <%= image_tag course.thumbnail.representation(resize_to_limit: [800, 800]), class: 'w-100' %>
  <% else %>
  <%= image_tag "no_image.png", class: 'w-100' %>
  <% end %>
</div>

<table class="table my-5">
  <tbody>
    <tr>
      <th><%= t 'activerecord.attributes.course.description' %></th>
      <td><%= course.description %></td>
    </tr>
    <tr>
      <th><%= t 'activerecord.attributes.course_category.name' %></th>
      <td><%= course.course_category.name %></td>
    </tr>
    <tr>
      <th><%= t 'activerecord.attributes.course_attendance_type.name' %></th>
      <td><%= course.course_attendance_type.name %></td>
    </tr>
    <tr>
      <th><%= t 'activerecord.attributes.course.event_date' %></th>
      <td><%= course.event_date %></td>
    </tr>
    <tr>
      <th><%= t 'activerecord.attributes.course.deadline' %></th>
      <td><%= course.deadline %></td>
    </tr>
    <tr>
      <th><%= t 'activerecord.attributes.course.place' %></th>
      <td><%= course.place %></td>
    </tr>
    <tr>
      <th><%= t 'activerecord.attributes.course.target' %></th>
      <td><%= course.target %></td>
    </tr>
    <tr>
    <tr>
      <th><%= t 'activerecord.attributes.course.acceptable_number' %></th>
      <td><%= course.acceptable_number %></td>
    </tr>
    <tr>
      <th><%= t 'activerecord.attributes.course.others' %></th>
      <td><%= course.others %></td>
    </tr>
  </tbody>
</table>
