<div class="my-container py-4">
  <div class="flex items-center">
    <div class="flex flex-wrap gap-2 items-center my-3">
      <small><%= link_to "インターンシップ申込の流れ", '/steps', class: 'link-secondary' %></small>
      <small><%= link_to "参加企業一覧", '/companies', class: 'link-secondary' %></small>
      <small><%= link_to "インターンシップ一覧", '/internships', class: 'link-secondary' %></small>
      <small><%= link_to "かんたん長岡仕事診断", '/checkup', class: 'link-secondary' %></small>
      <small><%= link_to "講座一覧", '/courses', class: 'link-secondary' %></small>
      <small><%= link_to "お知らせ一覧", '/announcements', class: 'link-secondary' %></small>
      <small><%= link_to "プライバシーポリシー", '/privacy_policy', class: 'link-secondary' %></small>
      <small><%= link_to "利用規約", '/terms_of_service', class: 'link-secondary' %></small>
      <small><%= link_to "お問い合わせ", '/contact', class: 'link-secondary' %></small>
      <small><%= link_to "ご意見箱", '/comment_form', class: 'link-secondary' %></small>
    </div>
    <div class="flex-1 mx-2">
      <img src='assets/nagaoka-logo.png' class="w-[120px]">
    </div>
  </div>
  <div class="text-center pt-4">
    <small>&copy; 2022 長岡のしごと場</small>
  </div>
</div>
