<div class="container py-4">
  <div class="d-flex flex-wrap gap-3 justify-content-center py-4">
    <%= link_to "参加企業一覧", '/companies', class: 'link-secondary' %>
    <%= link_to "インターンシップ一覧", '/internships', class: 'link-secondary' %>
    <%= link_to "講座一覧", '/courses', class: 'link-secondary' %>
    <%= link_to "お知らせ一覧", '/announcements', class: 'link-secondary' %>
    <%= link_to "プライバシーポリシー", '/privacy_policy', class: 'link-secondary' %>
    <%= link_to "利用規約", '/terms_of_service', class: 'link-secondary' %>
    <%= link_to "お問い合わせ", '/', class: 'link-secondary' %>
  </div>
  <div class="text-center py-4">
    <small>&copy; 2022 長岡市のしごと場</small>
  </div>
</div>
