<div class="container py-4">
  <div class="d-flex flex-wrap gap-3 justify-content-center py-4">
    <%= link_to "参加企業一覧", '/companies' %>
    <%= link_to "インターンシップ一覧", '/internships' %>
    <%= link_to "講座一覧", '/courses' %>
    <%= link_to "お知らせ一覧", '/announcements' %>
    <%= link_to "プライバシーポリシー", '/privacy_policy' %>
    <%= link_to "利用規約", '/terms_of_service' %>
    <%= link_to "お問い合わせ", '/' %>
  </div>
  <div class="text-center py-4">
    <small>&copy; 長岡市のしごと場</small>
  </div>
</div>
