<div class="badge bg-primary mb-3">
  <%= internship.company.business_category.name %>
</div>
<h4 class="mb-3"><%= internship.company.name %></h4>
<h4><%= internship.title %></h4>

<div class="my-3 text-slate-600"><%= internship.description %></div>

<div class="my-5 md:mx-12">
  <%= render "partial/slider", image_urls: internship.image_urls %>
</div>

<h4>インターンシップ情報</h4>

<table class="table-fixed my-3 w-100">
  <tbody>
    <tr class="table-tr">
      <th class="table-th">期間</th>
      <td class="table-td"><%= internship.terms %>日間</td>
    </tr>
    <tr class="table-tr">
      <% if internship.terms > 1 %>
      <th class="table-th">日程</th>
      <td class="table-td"><%= l internship.start_date, format: :ymd %> ~ <%= l internship.end_date, format: :ymd %>
      </td>
      <% else %>
      <th class="table-th">実施日</th>
      <td class="table-td"><%= l internship.start_date, format: :ymd %></td>
      <% end %>
    </tr>
    <tr class="table-tr">
      <th class="table-th"><%= t 'activerecord.attributes.internship.deadline' %></th>
      <% if internship.deadline.present? %>
      <td class="table-td"><%= l internship.deadline, format: :ymd %></td>
      <% else %>
      <td class="table-td"></td>
      <% end %>
    </tr>
    <tr class="table-tr">
      <th class="table-th"><%= t 'activerecord.attributes.internship.location' %></th>
      <td class="table-td"><%= internship.location %></td>
    </tr>
    <tr class="table-tr">
      <th class="table-th"><%= t 'activerecord.attributes.internship.target' %></th>
      <td class="table-td"><%= internship.target %></td>
    </tr>
    <tr class="table-tr">
      <th class="table-th"><%= t 'activerecord.attributes.internship.acceptable_number' %></th>
      <td class="table-td"><%= internship.acceptable_number %>名</td>
    </tr>
    <tr class="table-tr">
      <th class="table-th"><%= t 'activerecord.attributes.internship.others' %></th>
      <td class="table-td"><%= internship.others %></td>
    </tr>
    <tr class="table-tr">
      <th class="table-th">最終更新日</th>
      <td class="table-td"><%= l internship.updated_at, format: :ymd %></td>
    </tr>
  </tbody>
</table>

<div class="my-3 text-right">
  <%= link_to "https://nagaoka-shukatsuondemand.jp/all-internship/", :target=>["_blank"], class: "btn btn-primary text-white" do %>
  <i class="bi bi-play-circle-fill"></i> 紹介動画を見る
  <% end %>
</div>

<h4 class="mt-5">企業情報</h4>

<table class="table-fixed my-3 w-100">
  <tbody>
    <tr class="table-tr">
      <th class="table-th"><%= t 'activerecord.attributes.company.name' %></th>
      <td class="table-td"><%= link_to internship.company.name, company_path(internship.company) %></td>
    </tr>
    <tr class="table-tr">
      <th class="table-th"><%= t 'activerecord.attributes.company.contact_name' %></th>
      <td class="table-td"><%= internship.company.contact_name %></td>
    </tr>
    <tr class="table-tr">
      <th class="table-th"><%= t 'activerecord.attributes.company.contact_email' %></th>
      <td class="table-td"><%= internship.company.contact_email %></td>
    </tr>
    <tr class="table-tr">
      <th class="table-th"><%= t 'activerecord.attributes.company.contact_phone_number' %></th>
      <td class="table-td"><%= internship.company.contact_phone_number %></td>
    </tr>
  </tbody>
</table>

<% if current_student %>
<div class="my-5 flex justify-end">
  <% if @cart.present? %>
  <%= button_to student_internship_cart_path(id: @cart.id, student_id: current_student.id),
      method: :delete,
      class: "btn btn-outline-secondary" do
    %>
  <i class="bi bi-star-fill text-warning"></i> お気に入りを外す
  <% end %>
  <% elsif @order.present? %>
  <button class="btn disabled">申し込み済み</button>
  <% else %>
  <%= button_to student_internship_carts_path(current_student),
      params: { internship_id: @internship.id },
      class: "btn btn-warning shadow" do
    %>
  <i class="bi bi-star"></i> お気に入りに追加する
  <% end %>
  <% end %>
</div>
<% end %>
