<h3 class="my-5"><%= internship.title %></h3>

<div class="my-3 w-100">
  <% if internship.thumbnail.representable? %>
  <%= image_tag internship.thumbnail.representation(resize_to_limit: [800, 800]), class: 'w-100' %>
  <% elsif %>
  <%= image_tag "no_image.png", class: 'w-100' %>
  <% end %>
</div>

<table class="table my-5">
  <tbody>
    <tr>
      <th><%= t 'activerecord.attributes.internship.description' %></th>
      <td><%= internship.description %></td>
    </tr>
    <tr>
      <th><%= t 'activerecord.attributes.internship.start_date' %></th>
      <td><%= internship.start_date %></td>
    </tr>
    <tr>
      <th><%= t 'activerecord.attributes.internship.end_date' %></th>
      <td><%= internship.end_date %></td>
    </tr>
    <tr>
      <th><%= t 'activerecord.attributes.internship.deadline' %></th>
      <td><%= internship.deadline %></td>
    </tr>
    <tr>
      <th><%= t 'activerecord.attributes.internship.location' %></th>
      <td><%= internship.location %></td>
    </tr>
    <tr>
      <th><%= t 'activerecord.attributes.internship.target' %></th>
      <td><%= internship.target %></td>
    </tr>
    <tr>
      <th><%= t 'activerecord.attributes.internship.acceptable_number' %></th>
      <td><%= internship.acceptable_number %></td>
    </tr>
    <tr>
      <th><%= t 'activerecord.attributes.internship.others' %></th>
      <td><%= internship.others %></td>
    </tr>
    <tr>
      <th><%= t 'activerecord.attributes.created_at' %></th>
      <td><%= l internship.created_at, format: :ymd %></td>
    </tr>
    <tr>
      <th><%= t 'activerecord.attributes.updated_at' %></th>
      <td><%= l internship.updated_at, format: :ymd %></td>
    </tr>
  </tbody>
</table>

<div class="text-center my-3">
  <% if @internship.video.representable? %>
  <%= video_tag rails_blob_path(@internship.video), controls: true, class: 'w-100' %>
  <% end %>
</div>
