<div class="row row-cols-md-3 row-cols-2 g-2">
  <% internships.each do |internship| %>
  <div class="col card p-3 border-0">
    <% if internship.gif_url.present? %>
    <%= link_to image_tag(internship.gif_url, class: "w-100"), internship, class: "ratio ratio-16x9" %>
    <% elsif internship.thumbnail.representable? %>
    <%= link_to image_tag(internship.thumbnail.representation(resize_to_limit: [800, 800]), class: 'object-fit-cover w-100'), internship, class: "ratio ratio-16x9" %>
    <% else %>
    <%= link_to image_tag("no_image.png", class: "object-fit-cover w-100"), internship, class: "ratio ratio-16x9" %>
    <% end %>

    <div class="card-body">
      <h5 class="card-title">
        <%= link_to internship.title, internship %>
      </h5>
      <div class="card-text d-flex">
        <span class="card-text"><%= internship.company.business_category.name %></span>
        <span class="mx-2">|</span>
        <span class="card-text"><%= internship.terms ? "#{internship.terms}日間" : "-" %></span>
      </div>
    </div>
  </div>
  <% end %>
</div>
