<main>
  <div class="bg-[url('/assets/top_sm.png')] md:bg-[url('/assets/top.png')] top-hero-sm md:top-hero-lg">
    <div>
      <a href="/checkup">
        <div class="top-hero-button-sm md:top-hero-button-lg">
          <i class="bi bi-check-lg mr-1"></i>かんたん長岡仕事診断
        </div>
      </a>
    </div>
  </div>
  <div class="bg-slate-100 pt-16">
    <div class="my-container">
      <section>
        <div class="flex align-items-center mb-2 gap-3">
          <p class="font-section font-bold text-2xl">インターンシップ情報</p>
          <p>
            <a class="btn bg-slate-400 text-white text-sm" data-bs-toggle="collapse" href="#collapseExample"
              role="button" aria-expanded="false" aria-controls="collapseExample">
              <i class="bi bi-caret-down-fill mr-1"></i>検索する
            </a>
          </p>
        </div>
        <div class="collapse mb-5" id="collapseExample">
          <div class="card card-body">
            <%= search_form_for @q, url: internships_path do |f| %>
            <%= render 'partial/internship_search_fields', f: f %>
            <% end %>
          </div>
        </div>

        <%= render 'partial/internships', internships: @internships %>
        <% if !@internships.empty? %>
        <div class="text-right mt-4 mr-2">
          <a href=<%= internships_path %> class="top-more-link">
            <span class="">もっと見る</span>
            <i class="bi bi-chevron-right"></i>
          </a>
        </div>
        <% end %>
      </section>
    </div>
  </div>

  <div class="bg-slate-100">
    <div class="my-container">
      <section class="mb-5">
        <p class="font-section font-bold text-2xl mb-4">講座一覧</p>

        <% if @courses.empty? %>
        <p>現在、公開中の講座はありません。</p>
        <% else %>
        <%= render 'partial/courses', courses: @courses %>
        <div class="text-right mt-4 mr-2">
          <a href=<%= courses_path %> class="top-more-link">
            <span class="">もっと見る</span>
            <i class="bi bi-chevron-right"></i>
          </a>
        </div>
        <% end %>
      </section>
    </div>
  </div>

  <div class="my-container mt-16">
    <section>
      <p class="font-section font-bold text-xl mb-4">お知らせ一覧</p>

      <% if @announcements.empty? %>
      <p>現在、お知らせはありません。</p>
      <% else %>
      <%= render 'partial/announcements', announcements: @announcements %>
      <div class="text-right mt-4 mr-2">
        <a href=<%= announcements_path %> class="top-more-link">
          <span class="">もっと見る</span>
          <i class="bi bi-chevron-right"></i>
        </a>
      </div>
      <% end %>
    </section>
  </div>

  <div class="my-container mt-5">
    <%= link_to image_tag("banner1.jpg", class: "w-100 md:max-w-[500px]"), 'https://nagaoka-shukatsuondemand.jp/', :target=>["_blank"], class: 'flex justify-center' %>
  </div>
</main>
