<main class="home">
  <div class="card">
    <%= image_tag "top_copy.jpg", class: "hero-img" %>
  </div>
  <div class="container px-0">
    <section class="section">
      <p class="section-title">インターンシップ情報</p>
      <%= render 'partial/internships', internships: @internships %>
      <div class="text-center mt-4">
        <%= link_to "全て見る", internships_path, class: 'link-primary-with-underline' %>
      </div>
    </section>

    <section class="section">
      <p class="section-title">講座一覧</p>
      <%= render 'partial/courses', courses: @courses %>
      <div class="text-center mt-4">
        <%= link_to "全て見る", courses_path, class: 'link-primary-with-underline' %>
      </div>
    </section>

    <section class="section">
      <p class="section-title">お知らせ一覧</p>
      <%= render 'partial/announcements', announcements: @announcements %>
      <div class="text-center mt-4">
        <%= link_to "全て見る", announcements_path, class: 'link-primary-with-underline' %>
      </div>
    </section>
  </div>
</main>
