<%= render 'partial/employee_mypage_layout' do %>

<%= render 'partial/internship_detail', internship: @internship %>

<div class="mt-[80px] d-flex justify-content-between">
  <%= link_to "戻る", company_internships_path(@company), class: 'link-primary-with-underline' %>
  <div class="d-flex gap-2">
    <%= link_to "編集する", edit_company_internship_path(@company), class: 'btn btn-primary text-white' %>
    <%= button_to "削除する", company_internship_path(@company), method: :delete, data: { confirm: t('.are_you_sure') }, class: 'btn btn-danger text-white flex-1' %>
  </div>
</div>
<% end %>
