<%= render 'partial/employee_mypage_layout' do %>
<h2 class="mb-4">企業情報編集</h2>

<%= bootstrap_form_with(model: @company, url: company_path, method: :put, local: true) do |f| %>
<%= f.text_field :name %>
<%= f.text_field :company_url %>
<%= f.collection_select :business_category_id, BusinessCategory.all, :id, :name, { include_blank: "選択してください" } %>
<%= f.text_field :address %>
<%= f.text_area :business_description %>
<%= f.number_field :number_of_employee %>
<%= f.text_field :contact_name %>
<%= f.telephone_field :contact_phone_number %>
<%= f.email_field :contact_email %>
<%= f.file_field :thumbnail %>

<%= f.submit "更新する", class: "btn btn-primary mt-3 text-white w-100" %>
<% end %>

<% end %>
