<div class="my-container">
  <h2 class="my-5"><%= @company.name %></h2>

  <% if @company.video_url.present? %>
  <div style="padding:56.25% 0 0 0;position:relative;">
    <iframe
      src="https://player.vimeo.com/video/<%= @company.vimeo_id %>?h=b27de49486&amp;badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479"
      frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen
      style="position:absolute;top:0;left:0;width:100%;height:100%;" title="pexels-arvin-latifi-6466763"></iframe>
  </div>
  <% end %>

  <table class="table my-5">
    <tbody>
      <tr>
        <th><%= t 'activerecord.attributes.company.company_url' %></th>
        <td><%= @company.company_url %></td>
      </tr>
      <tr>
        <th><%= t 'activerecord.attributes.business_category.name' %></th>
        <td><%= @company.business_category.name %></td>
      </tr>
      <tr>
        <th><%= t 'activerecord.attributes.company.address' %></th>
        <td><%= @company.address %></td>
      </tr>
      <tr>
        <th><%= t 'activerecord.attributes.company.business_description' %></th>
        <td><%= @company.business_description %></td>
      </tr>
      <tr>
        <th><%= t 'activerecord.attributes.company.number_of_employee' %></th>
        <td><%= @company.number_of_employee %></td>
      </tr>
      <tr>
        <th><%= t 'activerecord.attributes.company.contact_name' %></th>
        <td><%= @company.contact_name %></td>
      </tr>
      <tr>
        <th><%= t 'activerecord.attributes.company.contact_phone_number' %></th>
        <td><%= @company.contact_phone_number %></td>
      </tr>
      <tr>
        <th><%= t 'activerecord.attributes.company.contact_email' %></th>
        <td><%= @company.contact_email %></td>
      </tr>
    </tbody>
  </table>

  <%= link_to "戻る", companies_path %>
</div>
