<div class="my-container">
  <h2 class="my-5"><%= @company.name %></h2>

  <div class="my-5 md:mx-12">
    <% if @company.thumbnail.representable? %>
    <%= image_tag @company.thumbnail.representation(resize_to_limit: [800, 800]), class: 'w-100' %>
    <% end %>
  </div>

  <table class="table-fixed mt-5 w-100">
    <tbody>
      <tr>
        <th class="table-th"><%= t 'activerecord.attributes.company.company_url' %></th>
        <td class="table-td"><%= link_to @company.company_url %></td>
      </tr>
      <tr>
        <th class="table-th"><%= t 'activerecord.attributes.business_category.name' %></th>
        <td class="table-td"><%= @company.business_category.name %></td>
      </tr>
      <tr>
        <th class="table-th"><%= t 'activerecord.attributes.company.address' %></th>
        <td class="table-td"><%= @company.address %></td>
      </tr>
      <tr>
        <th class="table-th"><%= t 'activerecord.attributes.company.business_description' %></th>
        <td class="table-td"><%= simple_format(@company.business_description) %></td>
      </tr>
      <tr>
        <th class="table-th"><%= t 'activerecord.attributes.company.number_of_employee' %></th>
        <td class="table-td"><%= @company.number_of_employee %></td>
      </tr>
      <tr>
        <th class="table-th"><%= t 'activerecord.attributes.company.contact_name' %></th>
        <td class="table-td"><%= @company.contact_name %></td>
      </tr>
      <tr>
        <th class="table-th"><%= t 'activerecord.attributes.company.contact_phone_number' %></th>
        <td class="table-td"><%= @company.contact_phone_number %></td>
      </tr>
      <tr>
        <th class="table-th"><%= t 'activerecord.attributes.company.contact_email' %></th>
        <td class="table-td"><%= @company.contact_email %></td>
      </tr>
    </tbody>
  </table>

  <div class="my-3 text-right">
    <%= link_to "https://nagaoka-shukatsuondemand.jp/all-movie/", :target=>["_blank"], class: "btn btn-primary text-white" do %>
    <i class="bi bi-play-circle-fill"></i> 紹介動画を見る
    <% end %>
  </div>

  <h4 class="my-3">募集中のインターンシップ情報</h4>
  <%= render 'partial/internships', internships: @company.internships %>

  <div class="mt-5">
    <i class="bi bi-chevron-left"></i><%= link_to "戻る", companies_path, class: 'link-primary-with-underline' %>
  </div>
</div>
