<div class="my-container">
  <h2 class="my-5"><%= @company.name %></h2>

  <div class="my-3 w-100">
    <%= render "partial/slider", image_urls: @company.image_urls %>
  </div>

  <table class="table my-5">
    <tbody>
      <tr>
        <th><%= t 'activerecord.attributes.company.company_url' %></th>
        <td><%= @company.company_url %></td>
      </tr>
      <tr>
        <th><%= t 'activerecord.attributes.business_category.name' %></th>
        <td><%= @company.business_category.name %></td>
      </tr>
      <tr>
        <th><%= t 'activerecord.attributes.company.address' %></th>
        <td><%= @company.address %></td>
      </tr>
      <tr>
        <th><%= t 'activerecord.attributes.company.business_description' %></th>
        <td><%= @company.business_description %></td>
      </tr>
      <tr>
        <th><%= t 'activerecord.attributes.company.number_of_employee' %></th>
        <td><%= @company.number_of_employee %></td>
      </tr>
      <tr>
        <th><%= t 'activerecord.attributes.company.contact_name' %></th>
        <td><%= @company.contact_name %></td>
      </tr>
      <tr>
        <th><%= t 'activerecord.attributes.company.contact_phone_number' %></th>
        <td><%= @company.contact_phone_number %></td>
      </tr>
      <tr>
        <th><%= t 'activerecord.attributes.company.contact_email' %></th>
        <td><%= @company.contact_email %></td>
      </tr>
    </tbody>
  </table>

  <div class="my-5 text-center">
    <%= link_to "紹介動画を見る", "https://nagaoka-shukatsuondemand.jp/all-movie/", :target=>["_blank"], class: "btn btn-primary text-white" %>
  </div>

  <%= link_to "戻る", companies_path, class: 'link-primary-with-underline' %>
</div>
