<div class="my-container">

  <h2 class="my-5"><%= @company.name %></h2>

  <table class="table">
    <tbody>
      <tr>
        <th><%= t 'activerecord.attributes.company.company_url' %></th>
        <td><%= @company.company_url %></td>
      </tr>
      <tr>
        <th><%= t 'activerecord.attributes.business_category.name' %></th>
        <td><%= @company.business_category.name %></td>
      </tr>
      <tr>
        <th><%= t 'activerecord.attributes.company.address' %></th>
        <td><%= @company.address %></td>
      </tr>
      <tr>
        <th><%= t 'activerecord.attributes.company.business_description' %></th>
        <td><%= @company.business_description %></td>
      </tr>
      <tr>
        <th><%= t 'activerecord.attributes.company.number_of_employee' %></th>
        <td><%= @company.number_of_employee %></td>
      </tr>
      <tr>
        <th><%= t 'activerecord.attributes.company.contact_name' %></th>
        <td><%= @company.contact_name %></td>
      </tr>
      <tr>
        <th><%= t 'activerecord.attributes.company.contact_phone_number' %></th>
        <td><%= @company.contact_phone_number %></td>
      </tr>
      <tr>
        <th><%= t 'activerecord.attributes.company.contact_email' %></th>
        <td><%= @company.contact_email %></td>
      </tr>
    </tbody>
  </table>

  <div class="text-center my-5">
    <% if @company.video.representable? %>
    <p><%= t 'activerecord.attributes.company.video' %></p>
    <%= video_tag rails_blob_path(@company.video), controls: true, class: 'w-100' %>
    <% end %>
  </div>

  <%= link_to "戻る", companies_path %>
</div>
