<div class="my-container">
  <div class="mt-5">
  <span class="badge mb-3"
    style="background-color: <%= @course.course_category.bg_color %>;"><%= @course.course_category.name %></span>
  <h3 class="mb-3"><%= @course.title %></h3>
  <div class="text-slate-600"><%= @course.description %></div>
  </div>

  <div class="my-5 md:mx-12">
    <% if @course.thumbnail.representable? %>
    <%= image_tag @course.thumbnail.representation(resize_to_limit: [800, 800]), class: 'w-100' %>
    <% else %>
    <%= image_tag "no_image.png", class: 'w-100' %>
    <% end %>
  </div>

  <table class="table-fixed my-5 w-100">
    <tbody>
      <tr>
        <th class="table-th"><%= t 'activerecord.attributes.course_attendance_type.name' %></th>
        <td class="table-td"><%= @course.course_attendance_type.name %></td>
      </tr>
      <tr>
        <th class="table-th"><%= t 'activerecord.attributes.course.event_date' %></th>
        <td class="table-td"><%= l @course.event_date, format: :ymd %></td>
      </tr>
      <tr>
        <th class="table-th"><%= t 'activerecord.attributes.course.deadline' %></th>
        <% if @course.deadline.present? %>
        <td class="table-td"><%= l @course.deadline, format: :ymd %></td>
        <% else %>
        <td class="table-td"></td>
        <% end %>
      </tr>
      <tr>
        <th class="table-th"><%= t 'activerecord.attributes.course.place' %></th>
        <td class="table-td"><%= @course.place %></td>
      </tr>
      <tr>
        <th class="table-th"><%= t 'activerecord.attributes.course.target' %></th>
        <td class="table-td"><%= @course.target %></td>
      </tr>
      <tr>
      <tr>
        <th class="table-th"><%= t 'activerecord.attributes.course.acceptable_number' %></th>
        <td class="table-td"><%= @course.acceptable_number %>名</td>
      </tr>
      <tr>
        <th class="table-th"><%= t 'activerecord.attributes.course.others' %></th>
        <td class="table-td"><%= @course.others %></td>
      </tr>
      <% if current_student || current_employee || current_admin_user %>
      <tr>
        <th class="table-th"><%= t 'activerecord.attributes.course.announcement' %></th>
        <td class="table-td"><%= @course.announcement %></td>
      </tr>
      <% end %>
    </tbody>
  </table>

  <% if current_employee %>
  <div class="my-5 text-center">
    <%= button_to "申し込む", employee_course_orders_path(current_employee),
      form: { data: { turbo_confirm: "申し込みますか？" } },
      params: { course_id: @course.id },
      class: "btn btn-primary text-white px-5 shadow #{@employee_order.present? ? 'disabled' : ''}"
    %>
  </div>
  <% elsif current_student %>
  <div class="my-5 text-center">
    <%= button_to "申し込む", student_course_orders_path(current_student),
      form: { data: { turbo_confirm: "申し込みますか？" } },
      params: { course_id: @course.id },
      class: "btn btn-primary text-white px-5 shadow #{@student_order.present? ? 'disabled' : ''}"
    %>
  </div>
  <% end %>

  <i class="bi bi-chevron-left"></i><%= link_to "戻る", :back, class: 'link-primary-with-underline' %>
</div>
