<div class="container">
  <div class="my-5">
  <h2>検索</h2>
    <%= search_form_for @q, url: internships_path do |f| %>
    <%= f.label :title_cont, 'インターンシップ名' %>
    <%= f.search_field :title_cont %>
    <br>
    <%= f.label :company_business_category_name_eq, '業種' %>
    <%= f.collection_select :company_business_category_name_eq, BusinessCategory.all, :name, :name, { include_blank: "指定しない" } %>
    <br>
    <%= f.label :terms_eq, '期間' %>
    <%= f.radio_button :terms_eq, '', { checked: true } %>指定しない
    <%= f.radio_button :terms_eq, '1日' %>1日
    <%= f.radio_button :terms_eq, '2日' %>2日
    <%= f.radio_button :terms_eq, '1週間' %>1週間
    <%= f.radio_button :terms_eq, '1週間より多い' %>1週間より多い
    <br>
    <%= f.submit '検索' %>
    <% end %>
  </div>

  <div class="my-5 d-flex gap-4 align-items-center">
    <h2>インターンシップ一覧</h2>
    <span><%= @internships.size %>件</span>
  </div>
  <%= render 'partial/internships', internships: @internships %>
</div>

