<%= render 'partial/employee_mypage_layout' do %>
<h3 class="mb-4"><%= @internship.title %></h3>

<div class="text-center">
  <% if @internship.thumbnail.representable? %>
  <%= image_tag @internship.thumbnail.representation(resize_to_limit: [400, 200]) %>
  <% end %>
</div>

<table class="table">
  <tbody>
    <tr>
      <th><%= t 'activerecord.attributes.internship.description' %></th>
      <td><%= @internship.description %></td>
    </tr>
    <tr>
      <th><%= t 'activerecord.attributes.internship.start_date' %></th>
      <td><%= @internship.start_date %></td>
    </tr>
    <tr>
      <th><%= t 'activerecord.attributes.internship.end_date' %></th>
      <td><%= @internship.end_date %></td>
    </tr>
    <tr>
      <th><%= t 'activerecord.attributes.internship.deadline' %></th>
      <td><%= @internship.deadline %></td>
    </tr>
    <tr>
      <th><%= t 'activerecord.attributes.internship.location' %></th>
      <td><%= @internship.location %></td>
    </tr>
    <tr>
      <th><%= t 'activerecord.attributes.internship.target' %></th>
      <td><%= @internship.target %></td>
    </tr>
    <tr>
      <th><%= t 'activerecord.attributes.internship.video_url' %></th>
      <td><%= @internship.video_url %></td>
    </tr>
    <tr>
      <th><%= t 'activerecord.attributes.internship.acceptable_number' %></th>
      <td><%= @internship.acceptable_number %></td>
    </tr>
    <tr>
      <th><%= t 'activerecord.attributes.internship.others' %></th>
      <td><%= @internship.others %></td>
    </tr>
  </tbody>
</table>


<div class="d-flex justify-content-between">
  <%= link_to "戻る", company_internships_path(@company) %>
  <div class="d-flex gap-2">
    <%= link_to "編集する", edit_company_internship_path(@internship), class: 'btn btn-primary' %>
    <%= button_to "削除する", company_internship_path(@internship), method: :delete, data: { confirm: t('.are_you_sure') }, class: 'btn btn-danger flex-1' %>
  </div>
</div>
<% end %>
