<div class="my-container-sm">
  <h2 class="text-center my-5">ログイン</h2>

  <ul class="nav nav-tabs nav-fill mb-4" id="userTypeTab" role="tablist">
    <li class="nav-item" role="presentation">
      <a class="nav-link <%= "active" if resource_name == :student %>" id="student-tab" type="button" role="tab"
        href="/students/sign_in">
        学生でログイン
      </a>
    </li>
    <li class="nav-item" role="presentation">
      <a class="nav-link <%= "active" if resource_name == :employee %>" id="company-tab" type="button" role="tab"
        href="/employees/sign_in">
        企業でログイン
      </a>
    </li>
  </ul>

  <%= bootstrap_form_with(model: resource, url: session_path(resource_name), local: true) do |f| %>
  <%= f.email_field :email, autofocus: true %>
  <%= f.password_field :password %>

  <%- if devise_mapping.recoverable? %>
  <%= link_to "パスワードを忘れた方はこちら", new_password_path(resource_name), class: 'link-secondary text-end' %><br />
  <% end %>

  <% if devise_mapping.rememberable? %>
  <div class="field mt-3">
    <%= f.check_box :remember_me %>
  </div>
  <% end %>

  <%= f.submit "ログイン", class: "btn btn-primary text-white w-100 my-3", "data-turbo": false %>
  <% end %>

  <div class="my-5 text-center">
  <i class="bi bi-chevron-right"></i>
  <%= link_to "会員登録はこちら", new_registration_path(resource_name), class: 'link-secondary' %><br />
  </div>
</div>
