<div style="width: 360px;" class="pages-margin-top mx-auto">
  <h2 class="text-center mb-4">新規登録(学生)</h2>

  <%= bootstrap_form_with(model: @student, url: student_registration_path, local: true) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <%= f.email_field :email, autofocus: true %>
  <%= f.password_field :password %>
  <%= f.password_field :password_confirmation %>

  <%= f.fields_for :student_detail do |f_student_detail| %>
  <%= f_student_detail.text_field :name %>
  <%= f_student_detail.date_field :birthday %>
  <%= f_student_detail.text_field :school_name %>
  <%= f_student_detail.text_field :department %>
  <% end %>

  <%= f.submit "登録", class: "btn btn-primary w-100" %>
  <% end %>
  <%= render "devise/shared/links" %>

</div>
